<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-BugTrackerCF-20150731121025.mdf;Initial Catalog=aspnet-BugTrackerCF-20150731121025;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
