@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="sub-nav hidden-sm hidden-xs">
    <ul>
        <li><a href="" class="heading">About</a></li>

    </ul>

</div>
<!-- Sub Nav End -->
<!-- Dashboard Wrapper Start -->
<div class="dashboard-wrapper-lg">
    <p>Use this area to provide additional information.</p>
</div>